version: '3'
services:
  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3307:3306"  # 建议改用3307，避免与系统MySQL冲突
    volumes:
      - mysql-data:/var/lib/mysql  # 添加数据卷，避免数据丢失

  web-tracing-analysis:
    build: .
    image: web-tracing-analysis
    ports:
      - "17001:17001"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/web_tracing?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC&rewriteBatchedStatements=true&useServerPrepStmts=true&cachePrepStmts=true&useCursorFetch=true&defaultFetchSize=1000&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=123456
      - SERVER_PORT=17001
    depends_on:
      - mysql  # 确保MySQL先启动

volumes:
  mysql-data:
